:root{
    --dull-red: rgba(205,41,47,255);
    --spiegel-shell: rgba(236,231,187,255);
}

body{
    /* background-image: url("vintage.jpg"); */
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



.comic{
    font-family: "BadaBoom BB";
}

.hebrew-text{
    font-family: "Handjet";
    direction: rtl;


}

.character{
    position: absolute; 
    overflow-x: hidden;
}

.character{
    width: 30vw;
}

.title{
    background-color: rgb(20,18,19);
    border: double;
    border-color: rgb(100,118,119);

    display: flex;
    justify-content: center;
    letter-spacing: 0.2rem;
    color: var(--spiegel-shell)
}

.title .maintitle {
/*     text-shadow: -0.3rem 0 var(--dull-red), 0 0.3rem var(--dull-red), 0.3rem 0 var(--dull-red), 0 -0.3rem var(--dull-red); */
    -webkit-text-stroke: 0.2rem var(--dull-red); /* width and color */;
}

.guess-box{
    position: fixed;
    background-color: rgb(20,18,19);
    border-style: double;
    border-color: rgb(100,118,119);
    width: 30%; height: 20%;
    z-index: 400;
    top:60%;
    left:10%;
}

.guess-box .hebrew-text{
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    margin-bottom: 0px;
}

.guess-text{
    color: blanchedalmond;
}
.buttons-holder{
    display: flex;
    margin-left: 30px;
    margin-right: 30px;
    justify-content: space-between;
}

.buttons-holder button{
    width: 45%;
    color: black;
}



.holder{
    position: absolute;
    left: 40%;
    
}

.bubble {
    position: absolute;
    top: 0px;
    width: 30vw;
    left: -23vw;
    height: 30vh;

}

.bubble-image {
    width: 100%;
    height: 100%;
}

.bubble .hebrew-text {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
    height: 50%;
    text-align: right;
    max-width: 75%;
    max-height: 50%;
    /* overflow: hidden; */
    font-size: 2vw;
}



#stickertext{
    margin-left: 1rem;
}

#canvas{
    position: fixed;
}

@media only screen and (max-width: 1200px) {
    /* Styles for small screens */
    .guess-box {
        width: 100%;
        left:0%;
        height:30%;
        bottom: 0%;
    }
    .guess-box .hebrew-text {
        font-size: 2rem;

    }
    .maintitle{
        font-size: 7vw;
        width: 90vw;
    }

    #stickertext{
        font-size: 3vw;;
    }

    .bubble .hebrew-text {
        font-size: 7vw;
        position: absolute;
        top: 40%;
        /* transform: translate(0px, -50%);  */

    }
    .bubble {
        width: 80vw;
        left: -80%;
        top: -10vh;
    }

    .holder {
        right: 0%;
        bottom: 80%;
    }
    .holder img {
        width: 100%;
        right: -20%;
    }


}
